.container {
    display: flex;
    flex-wrap: wrap;
}

.object {
    display: flex;
    border-bottom: 2px solid black;
}

.object:last-child {
    border: none;
}




.square {
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px solid black;
    color: black;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

