* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.object {
    display: flex;
    border-bottom: 2px solid black;
}

.object:last-child {
    border: none;
}




.square {
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px solid black;
    color: black;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}


.header {
    display: flex;
    padding: 50px;
    background-color: #4191f4;
}

.header a {
    text-decoration: none;
    font-size: 24px;
    color: white;
    margin-right: 20px;
}

.header a:last-child {
    margin: 0;
}

